<!-- 智慧選股 -->
<p-blockUI [blocked]="isBlocked"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="position:absolute;top:48.5%;left:48.5%"></i></p-blockUI>
<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div class="p-grid">
    <div style="margin: 10px">
        <p-dropdown [options]="typeOpts" [(ngModel)]="condition.typeNo" placeholder="選擇類型" [virtualScroll]="true" [itemSize]="10" [filter]="false"></p-dropdown>
    </div>
    <div style="margin: 10px">
        <p-button icon="fa fa-search" label="查詢" (click)="stockInfoQuery()"></p-button>
    </div>
</div>

<p-table [value]="stockList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,50]" selectionMode="single" [(selection)]="selected" dataKey="stockNo"
    (onRowSelect)="findStockPrice()">
    <ng-template pTemplate="header">
        <tr class="table-header-tr">
            <th pSortableColumn="closePrice">目前股價 <p-sortIcon field="closePrice"></p-sortIcon></th>
            <th pSortableColumn="stockNo">股票名稱/代號 <p-sortIcon field="stockNo"></p-sortIcon></th>
            <th>產業別</th>
            <th>市場別</th>
            <th>上市日期</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stock>
        <tr class="table-body-tr" [pSelectableRowDblClick]="stock">
            <td class="table-body-tr-td"><span class="table-body-tr-td-title">目前股價 </span>{{stock.closePrice}}</td>
            <td class="table-body-tr-td"><span class="table-body-tr-td-title">股票名稱/代號 </span>{{stock.stockName}} / {{stock.stockNo}}</td>
            <td class="table-body-tr-td"><span class="table-body-tr-td-title">產業別 </span>{{stock.industryName}}</td>
            <td class="table-body-tr-td"><span class="table-body-tr-td-title">市場別 </span>{{stock.marketNo == 'TWSE' ? '上市' : stock.marketNo == 'TPEX' ? '上櫃' : ''}}</td>
            <td class="table-body-tr-td"><span class="table-body-tr-td-title">上市日期 </span>{{stock.listingDate | date: 'yyyy/MM/dd'}}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="個股明細" [(visible)]="displayDialog" appendTo="body" [modal]="true" [responsive]="true" [style]="{ width: '650px', minWidth: '400px' }" [baseZIndex]="10000"> <!-- [contentStyle]="{'min-height':'225px'}" -->

    <p-table [value]="StockPriceList">
        <ng-template pTemplate="header">
            <tr>
                <th>日期</th>
                <th>外資</th>
                <th>投信</th>
                <th>自營商</th>
                <th>合計</th>
                <th>股價</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stock>
            <tr>
                <td>{{stock.openDt | date: 'MM/dd'}}</td>
                <td><span [ngStyle]="{ 'color': stock.foreignInvestors > 0 ? 'red' : stock.foreignInvestors < 0 ? 'green' : 'black' }">{{stock.foreignInvestors}}</span></td>
                <td><span [ngStyle]="{ 'color': stock.investmentTrust > 0 ? 'red' : stock.investmentTrust < 0 ? 'green' : 'black' }">{{stock.investmentTrust}}</span></td>
                <td><span [ngStyle]="{ 'color': stock.dealer > 0 ? 'red' : stock.dealer < 0 ? 'green' : 'black' }">{{stock.dealer}}</span></td>
                <td><span [ngStyle]="{ 'color': getTotal(stock) > 0 ? 'red' : getTotal(stock) < 0 ? 'green' : 'black' }">{{getTotal(stock)}}</span></td>
                <td>{{stock.closePrice}}</td>
            </tr>
        </ng-template>
    </p-table>

</p-dialog>