<div class="topbar clearfix">
    <ul class="topbar-menu">
        <li class="topbar-li">
            <a href="#">
                <i class="topbar-icon image-center fa fa-sign-out"></i>
            </a>
        </li>
        <li class="topbar-li">
            <a href="#">
                <i class="topbar-icon pi pi-fw pi-cog"></i>
            </a>
        </li>
        <li class="topbar-li">
            <a href="#">
                <i class="topbar-icon pi pi-fw pi-bell"></i>
            </a>
        </li>
    </ul>
</div>