.topbar {
    position: fixed;
    width: 100%;
    background-color: #58799f;
    height: 70px;
    box-sizing: border-box;
    z-index: 100;
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.topbar-menu {
    float: right;
    margin: 15px 15px 0 0;
    list-style-type: none;
}
.topbar-menu-box {
    float: right;
    margin: 15px 15px 0 0;
    list-style-type: none;
}

.topbar-li {
    float: right;
    margin-left: 20px;
}

.topbar-icon {
    width: 40px;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 3px black;
}

.topbar-item-name {
    display: none;
}

/* image center image */
.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.topbar-menu-button {
    float: right;
    margin: 15px 15px 0 0;
    list-style-type: none;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 3px black;
    display: none;
}

@media screen and (max-width: 1024px) {
    .topbar-menu-button {
        display: block;
        cursor: pointer;
    }
    .topbar-menu {
        display: none;
    }
    .topbar-menu-box {
        margin: 70px -35px 0 0;
        background-color: #ebebee;
        width: 200px;
    }
    .topbar-li {
        float: none;
        margin-left: -40px;
        width: 125%;
        padding-left: 15px;
    }
    .topbar-li:hover {
        background-color: #f4f4f4
    }
    .topbar-icon {
        vertical-align: middle;
    }
    .topbar-item-name {
        display: inline-block;
        vertical-align: middle;
        margin: 15px;
    }
}
