<div class="topbar clearfix">

    <a (click)="showTopbarMenu()">
        <i class="topbar-menu-button pi pi-bars"></i>
    </a>

    <ul [ngClass]="topBarMenuVisible ? 'topbar-menu-box fadeInDown animated' : 'topbar-menu'">
        <li class="topbar-li">
            <a href="#">
                <i class="topbar-icon fa fa-sign-out"></i>
                <span class="topbar-item-name">登出</span>
            </a>
        </li>
        <li class="topbar-li">
            <a href="#">
                <i class="topbar-icon fa fa-cog"></i>
                <span class="topbar-item-name">設定</span>
            </a>
        </li>
    </ul>
</div>