<div class="layout-sidebar" [ngClass]="sidebarOpen ? 'layout-sidebar-open' : 'layout-sidebar-close'">
    <ul class="sidebar-menu">
        <li *ngFor="let item of sidebarList" class="sidebar-li" [ngClass]="item.active ? 'sidebar-li-active-item' : ''">
            <a (click)="sidebarEvent(item)">
                <i class="sidebar-icon {{ item.icon }}"></i>
            </a>
        </li>
    </ul>

    <div *ngIf="tabmenuContent === 'stock'" class="layout-tabmenu-content" [ngStyle]="{ 'display': sidebarOpen ? 'block' : 'none' }">
        <div class="layout-submenu-title clearfix">
            <span>股票</span>
            <a class="menu-button" (click)="sidebarEvent()"><i class="pi pi-bars" style="font-size: 27px;"></i>
            </a>
        </div>
        <div class="layout-submenu-content">
            <ul class="submenu-menu">
                <li class="submenu-item-li" (click)="openStatement()">
                    <a style="color: #545b61">
                        <i class="submenu-item-icon pi pi-fw pi-home"></i>
                        <span>個股查詢</span>
                    </a>
                </li>
                <li class="submenu-item-li">
                    <a style="color: #545b61">
                        <i class="submenu-item-icon pi pi-fw pi-info-circle"></i>
                        <span>Documentation</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="tabmenuContent === 'users'" class="layout-tabmenu-content" [ngStyle]="{ 'display': sidebarOpen ? 'block' : 'none' }">
        <div class="layout-submenu-title clearfix">
            <span>Team</span>
            <a class="menu-button" (click)="sidebarEvent()"><i class="pi pi-bars" style="font-size: 27px;"></i>
            </a>
        </div>
        <div class="layout-submenu-content">
            <ul class="submenu-menu">
                <li class="submenu-item-li">
                    <a style="color: #545b61">
                        <i class="submenu-item-icon pi pi-shopping-cart"></i>
                        <span>Buy Now</span>
                    </a>
                </li>
                <li class="submenu-item-li">
                    <a style="color: #545b61">
                        <i class="submenu-item-icon pi pi-fw pi-briefcase"></i>
                        <span>Pages</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>