.layout-sidebar {
    overflow: visible; 
    position: fixed; 
    margin-top: 50px;
    background-color: #dbdbdb;
    z-index: 100;
    height: 100%;
    box-shadow: 3px 0px 10px 0 rgb(0 0 0 / 20%);
}

.layout-sidebar-open {
    width: 270px;
}

.layout-sidebar-close {
    width: 70px;
}

.sidebar-menu {
    list-style-type: none; 
    padding: 0;
    text-align: center;
    margin: 0;
}

.sidebar-li {
    border-bottom: 2px solid #c7c7c7;
    width: 70px;
}

.sidebar-li-active-item {
    border-left: 4px solid #58799f;
    background-color: #ebebee;
}

.sidebar-icon {
    font-size: 40px;
    color: #999999;
    cursor: pointer;
}

/* ----------------------------------------- */
.layout-tabmenu-content {
    position: absolute;
   /* display: block;*/
    left: 70px;
    margin-top: -85px;
    background-color: #ebebee;
    height: 100%;
}

.layout-submenu-title {
    padding: 8px 12px;
    height: 42px;
    font-size: 19px;
    border-bottom: 2px solid #c7c7c7;
    width: 200px;
}

.menu-button {
    float: right;
    color: gray;
}

.menu-button:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.submenu-menu {
    list-style-type: none; 
    padding: 1px;
    margin: 0;
}

.submenu-item-li:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.submenu-item-li {
    height: 30px;
    margin-top: 10px;
    width: 100%;
}

.submenu-item-icon {
    margin-right: 4px;
    margin-left: 4px;
    color: gray;
}

@media screen and (max-width: 720px) {
    .layout-sidebar-open {
        width: 240px;
    }
    .layout-sidebar-close {
        width: 40px;
    }    
    .sidebar-li {
        width: 40px;
    }
    .sidebar-icon {
        font-size: 30px;
    }
    .layout-tabmenu-content {
        left: 40px;
        margin-top: -66px;
        height: 100%;
    }
    .layout-submenu-title {
        padding: 2px 12px;
        height: 32px;
        font-size: 17px;
    }
}