.layout-sidebar {
    overflow: visible; 
    position: fixed; 
    margin-top: 70px;
    background-color: #dbdbdb;
    z-index: 100;
    height: 100%;
    box-shadow: 3px 0px 10px 0 rgb(0 0 0 / 20%);
}

.sidebar-menu {
    list-style-type: none; 
    padding: 0;
    text-align: center;
    margin: 0;
}

.sidebar-li {
    border-bottom: 2px solid #c7c7c7;
    width: 80px;
}

.sidebar-li-active-item {
    border-left: 4px solid #58799f;
    background-color: #ebebee;
}

.sidebar-icon {
    font-size: 40px;
    color: #999999
}

/* ----------------------------------------- */
.layout-tabmenu-content {
    position: absolute;
   /* display: block;*/
    left: 80px;
    margin-top: -86px;
    background-color: #ebebee;
    height: 100%;
}

.layout-submenu-title {
    padding: 10px 12px;
    height: 43px;
    font-size: 20px;
    border-bottom: 2px solid #c7c7c7;
    width: 230px;
}

.menu-button {
    float: right;
    color: gray;
}

.menu-button:hover {
    background-color: #f4f4f4
}

.submenu-menu {
    list-style-type: none; 
    padding: 5px;
    margin: 0;
}

.submenu-item-li:hover {
    background-color: #f4f4f4
}

.submenu-item-li {
    height: 30px;
    margin-top: 10px;
    width: 102%;
}

.submenu-item-icon {
    margin-right: 4px;
    color: gray;
    vertical-align: text-bottom;
}

/* ----------------------------------------- */
.layout-main {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    top: 80px;
    right: 10px;
    bottom: 10px;
    overflow: auto;
}