.layout-main {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    top: 50px;
    right: 10px;
    bottom: 10px;
    overflow: auto;
}

.sidebar-open {
    left: 283px;
}

.sidebar-close {
    left: 83px;
}

@media screen and (max-width: 1080px) {
    .sidebar-open {
        left: 83px;
    }
}